<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Welcome</title>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
 <link rel="stylesheet" 
 href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <style>
     
  html{
   padding:50px;
  }
  img {
    display: block;
    margin: 0 auto;
}
h1 { 
  display: block;
  text-align: center;
  font-size: 6em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}



 
 </style>
</head>
<body style = "background:#f78888  ;">
        
                <div class="container" style = "background: #f3d250;">
        
       
                <h1>Smart Fridge</h1>
        
        
        <div class = "container">
            <img src = "https://thumbs.gfycat.com/SeparatePersonalFieldmouse-max-1mb.gif"  >
            
        </div>      
        
 </div>
 
 <div class="jumbotron text-center" style = "background: #f5f7fa ">
        <a href="/login" class="btn btn-lg btn-success" >Login</a>
        <a href="/signup" class="btn btn-lg btn-info" >Register</a>
       </div>
</body>
</html>